RESEND_API_KEY=
ALPHA_VANTAGE_API_KEY=59M2UN3BINTUJO7J
FINNHUB_API_KEY=
RESEND_FROM_EMAIL="Karlisin <merhaba@karlisin.com>"
VITE_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# X (Twitter) API v2
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
WORDPRESS_URL= # Örn: https://blog-admin.karlisin.com
